.SearchMovie_List {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto
}

.SearchMovie_Form {
    text-align: center;
}

.SearchMovie_Form input {
    width: 50%;
    padding: 20px;
    margin: 30px;
    font-size: 18px;
    border-radius: 10px;
    border: cadetblue solid 2px
}

.SearchMovie_Form button {
    padding: 20px 30px;
}

.SearchMovie_Form_row {
    display: flex;
    justify-content: center;
    align-items: center;
}