.MainLayout {
    /*width: 100vw;*/
    /*height: 5000px;*/
    box-sizing: border-box;
}

.MainLayout_light {
    background-color: #ddfffc;
}

.MainLayout_dark {
    background-color: #050f42;
    color: white;
}